/********************TAG SELECTORS*****************/

h1 {
  color: red;
  font-size: 100px;
}

/*
img {
  background-color: red;
}
*/

/********************CLASS SELECTORS*****************/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
  height: 160px;
}

.broccoli:hover {
  background-color: gold;
}

.circular {
  border-radius: 100%;
}

/********************ID SELECTORS*******************/

#heading {
  color: blue;
}
